*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    padding: 0 2vh;
    gap: 10vh;
}



/* style header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 1vh;
    width: 100%;
}
.container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
}
.container2{
    display: flex;
    justify-content: space-between;
}








/* Cacher la checkbox */
#menu-toggle {
  display: none;
}

/* Icône burger visible sur mobile */
.hamburger {
  display: block;
  font-size: 30px;
  cursor: pointer;
}

/* Menu caché par défaut */
.nav-links ul {
  display: none;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 10px;
}

/* Quand la checkbox est cochée, afficher le menu */
#menu-toggle:checked ~ .nav-links ul {
  display: flex;
}
#menu-toggle:checked ~ .hamburger::before {
  content: "✖"; /* changer l’icône en croix */
}







.hamburger{
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
}

.lynknav{
    padding: 1vh 0;
    text-decoration: none;
    font-size: 0.9rem;
    padding: 0 3vh;
    color: black;
}
.center{
    padding: 1vh 0;
    border-top: solid 1px rgb(116, 115, 115);
    border-bottom: solid 1px rgb(116, 115, 115);
}





/* style footer */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7vh 0vh;
    margin: 0 5vh;
    gap: 7vh;
    border-top: solid 1.75px rgb(201, 199, 199);
}
.f1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}
.reseauxsociaux{
    list-style: none;
    display: flex;
    gap: 5vh;
}
.icon{
    height: 3vh;
}




/* responsive */

/* mobile */
@media (max-width:426px) {
    menu{
    display: none;
    }
}


/* tablette */
@media (min-width:426px) and (max-width:770px) {
    body{
    padding: 0 7vh;
    align-items: center;
    }

        /* style header */
header{
    width: 100%;
}
.hamburger{
    display: none;
}
.nav-links ul {
  display: flex;
  flex-direction: row;
}
.lynknav{
    padding: 0;
}
.center{
    padding: 0 2vh;
    border-top: none;
    border-bottom: none;
    border-right: solid 1px rgb(116, 115, 115);
    border-left: solid 1px rgb(116, 115, 115);
}


/* style footer */
footer{
    justify-content: space-between;
    flex-direction: row;
    padding: 5vh 0vh;
    margin: 0 0vh;
    gap: 5vh;
    align-items: flex-start;
    width: 80%;
}
.f1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2vh;
}
.f1>p{
    font-size: 0.8rem;
}
.reseauxsociaux{
    gap: 2vh;
}
.icon{
    height: 2vh;
}
}

/* desktop */
@media (min-width:771px) and (max-width:2025px) {
    body{
    padding: 0 7vh;
    align-items: center;
    }

        /* style header */
header{
    width: 100%;
}
.hamburger{
    display: none;
}
.nav-links ul {
  display: flex;
  flex-direction: row;
}
.lynknav{
    padding: 0;
}
.center{
    padding: 0 2vh;
    border-top: none;
    border-bottom: none;
    border-right: solid 1px rgb(116, 115, 115);
    border-left: solid 1px rgb(116, 115, 115);
}

/* style footer */
footer{
    justify-content: space-between;
    flex-direction: row;
    padding: 2vh 0vh;
    margin: 0 0vh;
    gap: 5vh;
    align-items: flex-start;
    width: 80%;
}
.f1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2vh;
}
.f1>p{
    font-size: 0.8rem;
}
.reseauxsociaux{
    gap: 2vh;
}
.icon{
    height: 2vh;
}
}
