

/* style main */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}
.profil {
  width: 50vh;
  height: 50vh;
  overflow: hidden;
  border-radius: 100%;
  box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.3);
}

.profil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.texte{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}
.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.2rem;
}
.presentation>p{
    text-align: center;
    font-size: 1.2rem;
}
.description{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    text-align: center;
}
.description>p{
    text-align: center;
    font-size: 1rem;
}
.liensstylisés{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 2vh;
}
.li{
   display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    width: 15vh;
    color: black;
    
}
.lipresentation1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EEA302;
    height: 15vh;
    width: 15vh;
    border-radius: 100%;
    font-weight: bold;
    border: solid 1px black;
    color: black;
    text-decoration: none;
}
.lipresentation2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E13B25;
    height: 15vh;
    width: 15vh;
    border-radius: 100%;
    font-weight: bold;
    border: solid 1px black;
    color: black;
    text-decoration: none;
}
.lipresentation3{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #80D8DA;
    height: 15vh;
    width: 15vh;
    border-radius: 100%;
    font-weight: bold;
    border: solid 1px black;
    color: black;
    text-decoration: none;
}


/* responsive */

@media (min-width:426px) and (max-width:770px) {

/* style main */
.container{
    flex-direction: column;
    justify-content: center;
    gap: 10vh;
}
.profil {
  width: 50vh;
  height: 50vh;
  overflow: hidden;
  border-radius: 100%;
}

.profil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.texte{
    align-items: center;
    gap: 5vh;
    width: 50%;
}
.presentation{
    align-items: center;
    gap: 2vh;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1rem;
}
.presentation>p{
    text-align: center;
    font-size: 1rem;
}
.description{
    gap: 2vh;
    text-align: center;
}
.description>p{
    text-align: center;
    font-size: 1rem;
}
.liensstylisés{
    flex-direction: row;
    gap: 2vh;
}
.lipresentation1{
    height: 12vh;
    width: 12vh;
}
.lipresentation2{
    height: 12vh;
    width: 12vh;
}
.lipresentation3{
    height: 12vh;
    width: 12vh;
}
}

/* desktop */
@media (min-width:771px) and (max-width:2025px) {
    
/* style main */
main{
    display: flex;
    justify-content: center;
}
.container{
    flex-direction: row;
    justify-content: center;
    gap: 10vh;
    height: 60vh;
}
.profil {
  width: 50vh;
  height: 50vh;
  overflow: hidden;
  border-radius: 100%;
}

.profil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.texte{
    align-items: flex-start;
    gap: 5vh;
    width: 50%;
}
.presentation{
    align-items: flex-start;
    gap: 2vh;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1rem;
}
.presentation>p{
    text-align: start;
    font-size: 1rem;
}
.description{
    display: flex;
    flex-direction: row;
    gap: 2vh;
    text-align: center;
}
.description>p{
    text-align: start;
    font-size: 1rem;
}
.liensstylisés{
    flex-direction: row;
    gap: 2vh;
}
.lipresentation1{
    height: 12vh;
    width: 12vh;
}
.lipresentation2{
    height: 12vh;
    width: 12vh;
}
.lipresentation3{
    height: 12vh;
    width: 12vh;
}
}